<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/rutas">Rutas</a></li>
        <li class="nav-item"><a class="nav-link" href="/transportistas">Transportistas</a></li>
        <li class="nav-item"><a class="nav-link" href="/usuarios">Usuarios</a></li>
        <li class="nav-item"><a class="nav-link" href="/albaranes_rutas">Albaranes de rutas</a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 56px;"></div>
